.header{
    display: flex;
    height: 65px;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFF;
    justify-content: space-around;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: rgb(50, 58, 79);
    line-height: 28px;
    border-bottom: 1px solid #d5d6de;

    &-logo{
        font-size: 16px;
        font-weight: 800;
        display: flex;
        align-items: center;
        gap: 2px;
    }

    &-nav {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

}