.comparison {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 20px;

  &--hotel-grid{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &--title {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: rgb(2, 6, 17);
    font-weight: 700;
    padding-bottom: 20px;
    text-align: center;
  }

  &--no-hotels-message {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
  }
}

@media (max-width: 900px) {
	.comparison {
    &--hotel-grid{
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}